@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h2{
    font-size: 32px;
    color: black;
    text-align: center;
    margin: 0 0 30px 0;
}

ul{
    list-style: none;
}

/********************
* ヘッダー
*********************/

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 99px;
    padding: 30px;
    justify-content: space-between;
    background: #bbb;
}

/********************
* メイン
*********************/

.main-visual{
    width: 100%;
    display: block;
    margin: auto;
}

#about{
    display: flex;
    padding: 150px 0 0 0;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.pbox{
    display: flex;
    padding: 70px 80px;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #EFEFEF;
    border-radius: 20px;
}

#menu{
    text-align: center;
    padding: 150px 0 0 0;
}

#menu .h2{
    gap: 30px;
}

#menu .list{
    display: flex;
    width: 1178px;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
}

.fo{
    padding: 150px 0 150px 0;
}

form{
    display: flex;
    width: 565px;
    padding: 50px;
    margin: auto;
    flex-direction: column;
    gap: 10px;
    background: #ECECEC;
    border-radius: 20px;
}

.form-heasing{
    font-size: 18px;
}

.form-item {
    align-items: center;
  }
  .form-item + .form-item {
    margin-top: 40px;
  }
  .form-heading {
    width: 250px;
    font-weight: bold;
    margin: 0;
  }

  input{
    width: 465px;
    height: 50px;
    border: none;
    font-size: 15px;
    border-radius: 5px;

  }

  .btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0 0 0;
  }
button{
    padding: 14px 50px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 28px;
    background: #000;

}





/********************
* フッター
*********************/

footer{
    display: flex;
    height: 100px;
    padding: 26px 640px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #BBB;
}